@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 43% 99%;
    --foreground: 120 57% 8%;
    --card: 0 43% 99%;
    --card-foreground: 120 57% 8%;
    --popover: 0 43% 99%;
    --popover-foreground: 120 57% 8%;
    --primary: 158 34% 47%;
    --primary-foreground: 120 57% 8%;
    --secondary: 26 31% 90%;
    --secondary-foreground: 120 57% 8%;
    --muted: 0 43% 20%;
    --muted-foreground: 120 57% 70%;
    --accent: 174 38% 61%;
    --accent-foreground: 120 57% 8%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 120 57% 8%;
    --border: 0 43% 20%;
    --input: 0 43% 20%;
    --ring: 174 38% 40%;
    --radius: 0.5rem;

    --text-50: 120 60% 95%;
    --text-100: 120 57% 90%;
    --text-200: 120 57% 80%;
    --text-300: 120 57% 70%;
    --text-400: 120 57% 60%;
    --text-500: 120 57% 50%;
    --text-600: 120 57% 40%;
    --text-700: 120 57% 30%;
    --text-800: 120 57% 20%;
    --text-900: 120 57% 10%;
    --text-950: 120 60% 5%;

    --background-50: 0 44% 95%;
    --background-100: 0 41% 90%;
    --background-200: 0 43% 80%;
    --background-300: 0 42% 70%;
    --background-400: 0 43% 60%;
    --background-500: 0 43% 50%;
    --background-600: 0 43% 40%;
    --background-700: 0 42% 30%;
    --background-800: 0 43% 20%;
    --background-900: 0 41% 10%;
    --background-950: 0 44% 5%;

    --primary-50: 153 36% 95%;
    --primary-100: 159 33% 90%;
    --primary-200: 159 33% 80%;
    --primary-300: 157 35% 70%;
    --primary-400: 158 34% 60%;
    --primary-500: 158 34% 50%;
    --primary-600: 158 34% 40%;
    --primary-700: 157 35% 30%;
    --primary-800: 159 33% 20%;
    --primary-900: 159 33% 10%;
    --primary-950: 160 36% 5%;

    --secondary-50: 30 31% 95%;
    --secondary-100: 24 29% 90%;
    --secondary-200: 26 31% 80%;
    --secondary-300: 26 31% 70%;
    --secondary-400: 26 31% 60%;
    --secondary-500: 26 31% 50%;
    --secondary-600: 26 31% 40%;
    --secondary-700: 26 31% 30%;
    --secondary-800: 26 31% 20%;
    --secondary-900: 24 29% 10%;
    --secondary-950: 23 31% 5%;

    --accent-50: 174 38% 95%;
    --accent-100: 174 37% 90%;
    --accent-200: 175 37% 80%;
    --accent-300: 174 39% 70%;
    --accent-400: 174 38% 60%;
    --accent-500: 174 38% 50%;
    --accent-600: 174 38% 40%;
    --accent-700: 174 39% 30%;
    --accent-800: 175 37% 20%;
    --accent-900: 174 37% 10%;
    --accent-950: 174 38% 5%;
  }

  .dark {
    --background: 0 60% 1%;
    --foreground: 120 56% 92%;
    --card: 0 60% 1%;
    --card-foreground: 120 56% 92%;
    --popover: 0 60% 1%;
    --popover-foreground: 120 56% 92%;
    --primary: 158 34% 53%;
    --primary-foreground: 0 60% 1%;
    --secondary: 24 29% 10%;
    --secondary-foreground: 120 56% 92%;
    --muted: 0 61% 80%;
    --muted-foreground: 120 56% 92%;
    --accent: 174 38% 39%;
    --accent-foreground: 0 60% 1%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 120 57% 10%;
    --border: 0 60% 60%;
    --input: 0 61% 80%;
    --ring: 174 38% 60%;

    --text-50: 120 54% 5%;
    --text-100: 120 57% 10%;
    --text-200: 120 57% 20%;
    --text-300: 120 56% 30%;
    --text-400: 120 56% 40%;
    --text-500: 120 56% 50%;
    --text-600: 120 56% 60%;
    --text-700: 120 56% 70%;
    --text-800: 120 57% 80%;
    --text-900: 120 57% 90%;
    --text-950: 120 54% 95%;

    --background-50: 0 60% 5%;
    --background-100: 0 61% 10%;
    --background-200: 0 61% 20%;
    --background-300: 0 59% 30%;
    --background-400: 0 60% 40%;
    --background-500: 0 60% 50%;
    --background-600: 0 60% 60%;
    --background-700: 0 59% 70%;
    --background-800: 0 61% 80%;
    --background-900: 0 61% 90%;
    --background-950: 0 60% 95%;

    --primary-50: 160 36% 5%;
    --primary-100: 159 33% 10%;
    --primary-200: 159 33% 20%;
    --primary-300: 157 35% 30%;
    --primary-400: 158 34% 40%;
    --primary-500: 158 34% 50%;
    --primary-600: 158 34% 60%;
    --primary-700: 157 35% 70%;
    --primary-800: 159 33% 80%;
    --primary-900: 159 33% 90%;
    --primary-950: 153 36% 95%;

    --secondary-50: 26 28% 5%;
    --secondary-100: 24 29% 10%;
    --secondary-200: 24 29% 20%;
    --secondary-300: 24 29% 30%;
    --secondary-400: 24 29% 40%;
    --secondary-500: 24 29% 50%;
    --secondary-600: 24 29% 60%;
    --secondary-700: 24 29% 70%;
    --secondary-800: 24 29% 80%;
    --secondary-900: 24 29% 90%;
    --secondary-950: 26 28% 95%;

    --accent-50: 174 38% 5%;
    --accent-100: 174 37% 10%;
    --accent-200: 175 37% 20%;
    --accent-300: 174 39% 30%;
    --accent-400: 174 38% 40%;
    --accent-500: 174 38% 50%;
    --accent-600: 174 38% 60%;
    --accent-700: 174 39% 70%;
    --accent-800: 175 37% 80%;
    --accent-900: 174 37% 90%;
    --accent-950: 174 38% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
